<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
<style> 
input[type=text] {
    width: 225px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 80%;
}
</style>
        <title>Guide Troop</title>
    </head>

    <body>
        <div class="container-fluid">
            <header>
                <nav>
                    <a href ="mission.html">Our Mission</>
                    <a href ="contact.html">Contact Us</>
                </nav>

                <h1>Guide Troop</h1>
                <form>
  <input type="text" name="search" placeholder="Search Destination">
                </form>

            </header>       
    </body>
    
</html>